altgraph==0.16.1
appdirs==1.4.3
audiogen==0.1.2
auto-py-to-exe==2.6.5
beautifulsoup4==4.8.0
bleach==3.2.3
bottle==0.12.17
bottle-websocket==0.2.9
bs4==0.0.1
cachetools==4.1.1
certifi==2019.6.16
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.4.4
configparser==3.7.5
cycler==0.10.0
DateTime==4.3
docopt==0.6.2
docutils==0.16
dsprocessing==0.0.2
Eel==0.10.4
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
future==0.17.1
gcloud==0.17.0
get==2019.4.13
gevent==1.4.0
gevent-websocket==0.10.1
google-api-core==1.23.0
google-auth==1.23.0
google-cloud-bigquery==2.3.1
google-cloud-core==1.4.3
google-crc32c==1.0.0
google-resumable-media==1.1.0
googleapis-common-protos==1.52.0
greenlet==0.4.15
grpcio==1.33.2
gTTS==2.0.3
gTTS-token==1.1.3
gunicorn==20.1.0
httplib2==0.18.1
idna==2.8
importlib-metadata==0.20
inflect==4.0.0
itsdangerous==1.1.0
jaraco.itertools==5.0.0
Jinja2==2.10.1
joblib==0.15.1
Js2Py==0.67
keyring==22.0.1
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.2
more-itertools==7.2.0
MouseInfo==0.1.3
msedge-selenium-tools==3.141.3
mysql-connector-python==8.0.23
numpy==1.18.0
oauth2client==3.0.0
opencv-python==4.1.2.30
packaging==19.2
pandas==0.25.3
pefile==2019.4.18
pep517==0.6.0
Pillow==8.1.2
pipwin==0.4.6
pkginfo==1.7.0
playsound==1.2.2
proto-plus==1.11.0
protobuf==3.13.0
public==2019.4.13
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAudio==0.2.11
PyAutoGUI==0.9.52
pycparser==2.19
PyGetWindow==0.0.9
Pygments==2.7.4
PyInstaller==3.5
pyjsparser==2.7.1
PyMsgBox==1.0.9
pyparsing==2.4.6
pyperclip==1.8.2
pypiwin32==223
PyPrind==2.11.2
PyQt5==5.13.0
PyQt5-sip==4.19.18
PyRect==0.1.4
PyScreeze==0.1.26
PySoundFile==0.9.0.post1
python-dateutil==2.8.1
python-for-android==2019.8.9
pytoml==0.1.21
pyttsx3==2.71
PyTweening==1.0.3
pytz==2019.2
pywhatkit==3.9
pywin32==227
pywin32-ctypes==0.2.0
query-string==2019.4.13
readme-renderer==28.0
requests==2.22.0
requests-futures==1.0.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
robobrowser==0.5.3
rsa==4.6
scikit-learn==0.23.1
scipy==1.4.1
selenium==3.141.0
sh==1.12.14
six==1.15.0
sklearn==0.0
sounddevice==0.3.13
soupsieve==1.9.2
SpeechRecognition==3.8.1
SQLAlchemy==1.4.5
threadpoolctl==2.0.0
tqdm==4.56.0
twine==3.3.0
tzlocal==2.0.0
urllib3==1.25.3
virtualenv==16.7.5
webencodings==0.5.1
Werkzeug==0.16.0
whichcraft==0.6.1
wikipedia==1.4.0
wolframalpha==3.0.1
xlrd==1.2.0
xmltodict==0.12.0
zipp==0.6.0
zope.interface==4.6.0
