DateTime==4.3
Flask==1.1.2
Flask-SQLAlchemy==2.5.1
gunicorn==20.1.0
Jinja2==2.10.1
mysql-connector-python==8.0.23
packaging==19.2
pandas==0.25.3
python-dateutil==2.8.1
python-for-android==2019.8.9
SQLAlchemy==1.4.5