{% extends 'base.html' %}
{% block body %}
<div class="Container" style="background-color: beige;"">
    <br>
    <h2><center><u>Professional Certificates</u></center></h2>
    <table class="table table-striped">
        <thead>
          <tr>
            <th><img src="/static/images/professional 1.jpg" class="img-thumbnail" alt="..."></th>
            <th><img src="/static/images/professional 2.jpg" class="img-thumbnail" alt="..."></th>
          </tr>
        </thead>
      </table>
    <h2><center><u>Other Course Certificates</u></center></h2>
    <table class="table table-striped">
        <tbody>
            <tr>
              <th scope="row"><img src="/static/images/coursera/1.jpg" class="img-thumbnail" alt="..."></th>
              <td><img src="/static/images/coursera/2.jpg" class="img-thumbnail" alt="..."></td>
              <td><img src="/static/images/coursera/3.jpg" class="img-thumbnail" alt="..."></td>
              <td><img src="/static/images/coursera/4.jpg" class="img-thumbnail" alt="..."></td>
            </tr>
            <tr>
              <th scope="row"><img src="/static/images/coursera/5.jpg" class="img-thumbnail" alt="..."></th>
              <td><img src="/static/images/coursera/6.jpg" class="img-thumbnail" alt="..."></td>
              <td><img src="/static/images/coursera/7.jpg" class="img-thumbnail" alt="..."></td>
              <td><img src="/static/images/coursera/8.jpg" class="img-thumbnail" alt="..."></td>
            </tr>
            <tr>
              <th scope="row"><img src="/static/images/coursera/9.jpg" class="img-thumbnail" alt="..."></th>
              <td><img src="/static/images/coursera/10.jpg" class="img-thumbnail" alt="..."></td>
              <td><img src="/static/images/coursera/11.jpg" class="img-thumbnail" alt="..."></td>
              <td><img src="/static/images/coursera/12.jpg" class="img-thumbnail" alt="..."></td>
            </tr>
            <tr>
                <th scope="row"><img src="/static/images/coursera/13.jpg" class="img-thumbnail" alt="..."></th>
                <td><img src="/static/images/coursera/14.jpg" class="img-thumbnail" alt="..."></td>
                <td><img src="/static/images/coursera/15.jpg" class="img-thumbnail" alt="..."></td>
                <td><img src="/static/images/coursera/16.jpg" class="img-thumbnail" alt="..."></td>
            </tr>
            <tr>
                <td scope="row"><img src="/static/images/coursera/17.jpg" class="img-thumbnail" alt="..."></td>
                <td><img src="/static/images/coursera/18.jpg" class="img-thumbnail" alt="..."></td>
                <td><img src="/static/images/coursera/19.jpg" class="img-thumbnail" alt="..."></td>
                <td><img src="/static/images/coursera/20.jpg" class="img-thumbnail" alt="..."></td>
            </tr>
          </tbody>
    </table>
    <h2><center><u>Training Certificates</u></center></h2>
    <table>
        <tbody>
            <tr>
            <th scope="row"><img src="/static/images/training/1.jpg" class="img-thumbnail" alt="..."></th>
            <td><img src="/static/images/training/2.jpg" class="img-thumbnail" alt="..."></td>
            <td></td>
            </tr>
        </tbody>
    </table>
</div>
{% endblock body %}
