{% extends 'base.html' %}
{% block body %}
<div class="Container" style="padding-top:2%;padding-left: 5%;padding-right: 5%;">
    <h2><u><center>Programming Practice List</center><span><a href = "/programming"><button type="button" class="btn btn-dark">Add Another Data</button></a></span></u></h2>
            {% if answers|length == 0 %}
            <div class="container" style="text-align: center;">
                <div class="alert alert-secondary" role="alert">
                    <p>No Record Found 😔 Please add one</p>
                    <a href = "/programming"><button type="button" class="btn btn-outline-dark">Add Data</button></a>
                </div>
            </div>
            
            {% else %}
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col"><h4><b>SNo.</b></h4></th>
                    <th scope="col"><h4><b>Title</b></h4></th>
                    <th scope="col"><h4><b>Time</b></h4></th>
                    <th scope="col"><h4><b>Action</b></h4></th>
                </tr>
                </thead>
                <tbody>
            {% endif %}
            {% for questions in answers %}
                <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{questions.title}}</td>
                    <td>{{questions.date}}</td>
                    <td><a href = "/update/{{questions.sno}}" type="button" class="btn btn-outline-dark md-1">Update</button>  
                        <a href = "/delete/{{questions.sno}}" type="button" class="btn btn-outline-dark md-1">Delete</button>
                        <a href = "/view/{{questions.sno}}" type="button" class="btn btn-outline-dark">View</button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock body %}